{{#partial "content"}}
    <h1>HERE ARE THE HEROS WE HAVE</h1>

    {{#if squads}}
        <div class="row">
            {{#each squads}}
                        <div class="col-md-4">
                            <h1 style="color:red; text-align: left;">{{ squadName }}</h1>
                            {{#each heros}}
                                <div class="card" style="text-align: left;">
                                    <div class="card-body">
                                        <h3 class="card-title"> {{ name }} </h3>
                                        <li> Hero age  :<strong> {{ age }} </strong></li>
                                        <li> Hero Special Ability :<strong> {{ specialPower }} </strong></li>
                                        <li> Hero Weakness : :<strong> {{ weakness }} </strong></li>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
            {{/each}}
        </div>

        <h1>Add heros to view them here</h1>

    {{else}}
        <p>NO HEROS HAVE JOINED US YET !!</p>

    {{/if}}

    <a href="/form">Add a hero </a>

    <hr>


{{/partial}}

{{> layout.hbs}}
