{{#partial "content"}}
    <h1>HERE ARE THE HEROS WE HAVE</h1>

    {{#if squads}}
    {{#each squads}}
            <p>Squad name : {{squadName}}</p>
            {{#each heros}}
                <li> Hero name : {{name}}</li>
                <li> Squad name : {{squadName}}</li>
                <li> Hero Special Ability : {{specialPower}}</li>
                <hr>
            {{/each}}
        {{/each}}

        <h1>Add heros to view them here</h1>

    {{else}}
        <p>NO HEROS HAVE JOINED US YET !!</p>

    {{/if}}

    <a href="/form">Add a hero </a>

    <hr>


{{/partial}}

{{> layout.hbs}}
